*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; /* considera a borda com o tamanho total */
}
a {
    text-decoration: none;
    color: #fff;
}
body {
    background-color: #f6f8fc;
}

.content {
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }

}

.content h1 {
    margin: 0;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}
.pagination button {
    background-color: #84817a;
    border: none;
    border-radius: 1rem;
    color: white;
    padding: .25rem .5rem;
}

.pokemoves {
    align-content: flex-end;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}







