.bug-1{background-color: #16a085;}
.dark-1{background-color: #2c3e50;}
.dragon-1{background-color: #6F35FC;}
.electric-1{background-color: #f1c40f;}
.fairy-1{background-color: #e84393;}
.fighting-1{background-color: #c0392b;}
.fire-1{background-color: #d35400;}
.flying-1{background-color: #ecf0f1;}
.ghost-1{background-color: #8e44ad;}
.grass-1{background-color: #27ae60;}
.ground-1{background-color: #f1c40f;}
.ice-1{background-color: #00cec9;}
.normal-1{background-color: #cc8e35;}
.poison-1{background-color: #5758BB;}
.psychic-1{background-color: #ff7675;}
.rock-1{background-color: #fdcb6e;}
.steel-1{background-color: #bdc3c7;}
.water-1{background-color: #2980b9;}


.bug{background-color: #A6B91A;}
.dark{background-color: #705746;}
.dragon{background-color: #6F35FC;}
.electric{background-color: #F7D02C;}
.fairy{background-color: #D685AD;}
.fighting{background-color: #C22E28;}
.fire{background-color: #EE8130;}
.flying{background-color: #A98FF3;}
.ghost{background-color: #735797;}
.grass{background-color: #7AC74C;}
.ground{background-color: #E2BF65;}
.ice{background-color: #96D9D6;}
.normal{background-color: #A8A77A;}
.poison{background-color: #A33EA1;}
.psychic{background-color: #F95587;}
.rock{background-color: #B6A136;}
.steel{background-color: #B7B7CE;}
.water{background-color: #6390F0;}